# Ignoring Python cache directories
__pycache__/
# Ignoring Python virtual environments
venv/
# Ignoring Obsidian configuration and data
.obsidian/
# Ignoring GEMINI.md (Agent Context) and settings
GEMINI.md
.gemini/
# Ignoring output files
output/
#Ignoring NDA affected Files
/Library/BOTA/
/Library/IGF/N*
